body {
  background-color: beige;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: chocolate;
}

hr {
  background-color: black;
  border-style: none;
  height: 2px;
}

img {
  height: 100px;
}

.box {
  inline-size: 150px;
  overflow-wrap: break-word;
}